<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="main-flexbox">
      <div>
        <%= form_tag("/search", id: "address-form", method: "get", data: { type: "json" }) do %>
          <%= label_tag :address, "Address:" %>
          <%= text_field_tag :address, nil, placeholder: "742 Evergreen Terrace" %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
